<h2>Formulario para obtención del carnet digital</h2>
<p>Por favor completar los campos seleccionados</p>

<form action="/members">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="first_last_name">Primer Apellido</label>
    <input type="text" class="form-control" id="first_last_name" placeholder="Primer Apellido">
  </div>
  <div class="form-group">
    <label for="second_last_name">Primer Apellido</label>
    <input type="text" class="form-control" id="second_last_name" placeholder="Segundo Apellido">
  </div>
  <div class="form-group">
    <label for="employee_code">Primer Apellido</label>
    <input type="number" class="form-control" id="employee_code" placeholder="Código de Empleado">
  </div>
  <div class="form-group">
    <label for="photo">Foto</label>
    <input type="file" class="form-control" id="photo">
  </div>

  <button type="submit" class="btn btn-light">Enviar</button>
</form>
